.aboutme {
  padding: 110px 70px 125px 70px;
}

.aboutme__info {
  display: flex;
  padding-top: 65px;
  gap: 50px;
}

.aboutme__info-image {
  max-height: 327px;
  max-width: 270px;
  width: 40%;
  border-radius: 10px;
}

.aboutme__info-description {
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.aboutme__info-subtitle {
  margin: 0;
  font-size: 18px;
  line-height: calc(20 / 18);
  font-weight: 500;
  padding-top: 18px;
  padding-bottom: 26px;
}
.aboutme__links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
  align-items: flex-end;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .aboutme {
    padding: 90px 50px;
  }
}

@media screen and (max-width: 640px) {
  .aboutme__info {
    flex-direction: column-reverse;
  }

  .aboutme__info-image {
    align-self: center;
    width: 100%;
  }
  .aboutme__links {
    padding-top: 40px;
  }
}

@media screen and (max-width: 320px) {
  .aboutme {
    padding: 70px 14px 70px 14px;
  }
}
